   /* Navbar Responsive CSS Start */
   @media (max-width:991.98px) {
      .menu ul li {
         display: none;
      }

      .menu ul li.mbl_menu,
      .menu ul li.mbl_menu ul li,
      .menu ul li.mbl_menu ul li ul li {
         display: block;
      }
   }

   /* Navbar Responsive CSS End */

   /* Css Start For Large Device */
   @media (min-width: 992px) and (max-width: 1199.98px) {

      /* Common Responsive Css Start */
      .container {
         width: 960px;
      }

      /* Common Responsive Css End */

      /* Quote Section Responsive Css Start */
      .quote_box span {
         padding-left: 20px;
      }

      /* Quote Section Responsive Css End */
   }

   /* Css End For Large Device */

   /* Css Start For Medium Device */
   @media (min-width: 768px) and (max-width: 991.98px) {

      /* Common Responsive Css Start */
      .container {
         width: 720px;
      }

      /* Common Responsive Css End */

      /* Banner Section Responsive Css Start */
      #banner {
         height: 450px;
      }

      .banner_content {
         padding-top: 70px;
      }

      .banner_content h1 {
         font-size: 50px;
      }

      /* Banner Section Responsive Css End */

      /* About Section Responsive Css Start */
      #about {
         margin-top: 40px;
      }

      #about .row {
         align-items: center;
      }

      .about_content h1 {
         font-size: 20px;
         margin-bottom: 5px;
      }

      /* About Section Responsive Css End */

      /* Quote Section Responsive Css Start */
      #quote {
         margin-top: 40px;
      }

      .quote_box span {
         padding-left: 30px;
      }

      /* Quote Section Responsive Css End */

      /* Food Menu Section Responsive Css Start */
      #food_menu {
         padding: 40px 0 0px;
      }

      .menu_item {
         width: calc((100% - 30px) / 2);
      }

      /* Food Menu Section Responsive Css End */

      /* Gallery Section Responsive Css Start */
      #gallery {
         padding: 40px 0;
      }

      .gallery_item_container {
         margin-top: 30px;
      }

      .gallery_item {
         width: calc(50% - 30px);
         margin: 15px;
      }

      /* Gallery Section Responsive Css End */

      /* Customers Review Section Responsive Css Start */
      #customers_review {
         padding: 0 0 50px;
      }

      .review_container {
         margin-top: 50px;
      }

      .review_item p {
         width: 80%;
         margin: 20px auto 0;
      }

      /* Customers Review Section Responsive Css End */

      /* Contact Section Responsive Css Start */
      #contact .row {
         justify-content: center;
      }

      .contact_item_box {
         width: 50%;
         margin: 10px 0;
      }

      /* Contact Section Responsive Css End */

      /* Footer Section Responsive Css Start */
      .footer_box {
         width: 50%;
         margin: 15px 0;
      }

      /* Footer Section Responsive Css End */


      /* ============================================================ */
      /* Child Page Responsive Css Start */
      /* ============================================================ */
      /* Child Page Banner Responsive Css Start */
      #child_page_banner {
         padding: 100px 0;
      }

      /* Child Page Banner Responsive Css End */

      /* Stuff & Blog Section Responsive Css Start */
      #stuff, #blog {
         padding: 40px 0;
      }

      .single_stuff,.single_blog {
         width: calc(100% / 2 - 30px);
      }

      /* Stuff & Blog Section Responsive Css End */

      /* Contact Page Section Responsive Css Start */
      #contact_page_section {
         padding-bottom: 40px;
      }
      #contact_page_section .map iframe{
         height: 350px;
      }
      /* Contact Page Section Responsive Css End */
   }

   /* Css End For Medium Device */

   /* Css Start For Extra Small Device */
   @media (max-width: 767.98px) {

      /* Common Responsive Css Start */
      .container {
         width: 100%;
      }

      .section_ttl p {
         font-size: 16px;
         padding: 0 5px;
      }

      /* Common Responsive Css End */

      /* Navbar Responsive CSS Start */
      .logo,
      .menu {
         width: 50%;
      }

      .logo img {
         width: 100%;
         padding: 18px;
      }

      .menu ul li.mbl_menu>a {
         margin: 14px 0;
      }

      .menu ul li ul {
         min-width: 130px;
      }

      .menu ul li ul li a {
         margin: 0;
      }

      /* Navbar Responsive CSS End */

      /* Banner Section Responsive Css Start */
      #banner {
         height: 350px;
      }

      .banner_content {
         padding-top: 30px;
      }

      .banner_content h1 {
         font-size: 30px;
      }

      .banner_content p {
         padding: 20px 10px;
      }

      /* Banner Section Responsive Css End */

      /* About Section Responsive Css Start */
      #about {
         margin-top: 50px;
      }

      .about_img,
      .about_content {
         width: 100%;
      }

      .about_content h1 {
         font-size: 30px;
         margin-bottom: 5px;
      }

      /* About Section Responsive Css End */

      /* Quote Section Responsive Css Start */
      #quote {
         margin-top: 30px;
         padding: 50px 0;
      }

      .quote_box {
         width: 100%;
         padding: 0 10px;
      }

      .quote_box blockquote {
         font-size: 18px;
         line-height: 30px;
      }

      /* Quote Section Responsive Css End */

      /* Food Menu Section Responsive Css Start */
      #food_menu {
         padding: 40px 0 0px;
      }

      .menu_list ul li {
         display: block;
      }

      .menu_list ul li:hover a,
      .menu_list ul li a.active {
         background-color: #cfa671;
         color: #fff;
         box-shadow: none;
      }

      .menu_item {
         width: 100%;
      }

      .menu_item .menu_item_overly h3 {
         font-size: 22px;
         margin-bottom: 10px;
      }

      .menu_item .menu_item_overly p {
         font-size: 16px;
         border-bottom: 1px dashed #010101;
         padding-bottom: 10px;
         margin-bottom: 15px;
      }

      .menu_item .menu_item_overly span {
         font-size: 25px;
      }

      /* Food Menu Section Responsive Css End */

      /* Gallery Section Responsive Css Start */
      #gallery {
         padding: 20px 0;
      }

      .gallery_item_container {
         margin-top: 30px;
      }

      .gallery_item {
         width: 100%;
         margin: 15px;
      }

      /* Gallery Section Responsive Css End */
      /* Customers Review Section Responsive Css Start */
      #customers_review {
         padding: 0 0 30px;
      }

      .review_container {
         margin-top: 50px;
      }

      .review_item {
         width: 100%;
      }

      .review_item p {
         width: 80%;
         margin: 20px auto 0;
      }

      .review_slider_btn {
         display: none;
      }

      /* Customers Review Section Responsive Css End */

      /* Contact Section Responsive Css Start */
      .contact_item_box {
         width: 100%;
         margin: 10px 0;
      }

      .contact_item_box .row {
         justify-content: center;
      }

      .contact_item_box .info {
         width: 100%;
         text-align: center;
         margin-top: 5px;
         padding: 0 10px;
      }

      /* Contact Section Responsive Css End */

      /* Footer Section Responsive Css Start */
      .footer_box {
         width: 100%;
         margin: 15px 0;
      }

      .footer_social_link {
         text-align: center;
      }

      /* Footer Section Responsive Css End */
      /* Footer Copyright Section Responsive Css Start */
      #copyright p a {
         display: block;
      }

      /* Footer Copyright Section Responsive Css Start */

      /* ============================================================ */
      /* Child Page Responsive Css Start */
      /* ============================================================ */

      /* Child Page Banner Responsive Css Start */
      #child_page_banner {
         padding: 50px 0;
      }

      .form_group {
         width: 100%;
         padding: 0 15px;
      }

      /* Child Page Banner Responsive Css End */

      /* Stuff & Blog Section Responsive Css Start */
      #stuff,#blog {
         padding: 40px 0;
      }

      .blog_item_container{
         padding: 0 10px;
      }

      .single_stuff,.single_blog {
         width: 100%;
      margin-top: 30px;
      }

      /* Stuff & Blog Section Responsive Css End */
            /* Contact Page Section Responsive Css Start */
            #contact_page_section {
               padding-bottom: 30px;
            }
            #contact_page_section .map iframe{
               height: 250px;
            }
            .contact_form{
               padding: 0 15px;
            }
            /* Contact Page Section Responsive Css End */
      /* Css End For Extra Small Device */
   }


   /* Css Start For Small Device */
   @media (min-width: 576px) and (max-width: 767.98px) {

      /* Common Responsive Css Start */
      .container {
         width: 540px;
      }

      /* Common Responsive Css End */
      /* Gallery Section Responsive Css Start */

      .gallery_item {
         width: 80%;
         margin: 15px;
      }

      /* Gallery Section Responsive Css End */
   }

   /* Css End For Small Device */